{% extends 'base.html' %}

{% block head %}
<title>Jabber</title>
{% endblock %}

{% block body %}
<br>
<div class="container">
<form class="justify-content-center" align="center" action="{{ url_for('search_easy') }}" method="post">
	<input type="text" placeholder="Keywords"class="form-control" name="keywrd">
    <br>
	<input type="text" placeholder="Location" class="form-control" name="location">
    <br>
	<input type="submit" value="Search" class="btn" name="submit">
</form>
</div>
<br>


{% endblock %}
