<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Jabber! automated job applications">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css')}}">
    <title>Jabber</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/postings">Postings</a>
                    </li>
                    <li>
                        <a class="nav-link" href="/easy-apply">Easy Apply</a>
                    </li>
                    <li>
                        <a class="nav-link" href="/login">Account</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <main id="main">
        <div style="position: fixed;top:30%; width: 100%;" align="center">
            <img alt="Jabber logo" width="220px" src="{{ url_for('static', filename='img/logo-black.png')}}">
            <br>
            <br>
            <div>
                <form class="form-inline justify-content-center" align="center" action="{{ url_for('search') }}" method="post">
                    <span>
                        <input type="text" placeholder="Keywords" class="form-control" name="keywrd">
                        <input type="text" placeholder="Location" class="form-control" name="location"><br><br>
                        <input type="submit" value="Search" class="btn" name="submit">
                    </span>
                </form>
            </div>
        </div>
    </main>


    {% if login_err %}
    <div style="position: fixed;bottom:1%; width: 40%;" class="alert alert-danger alert-dismissible" role="alert" align="center">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>Oh snap!</strong> Please login
    </div>
    {% endif %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.2/umd/popper.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>
</body>

</html>
