{% extends 'base.html' %}

{% block head %}
<title>Jabber</title>
{% endblock %}

{% block body %}
<br>
<div>
	<form class="form-inline justify-content-center" align="center" action="{{ url_for('search') }}" method="post">
		<span><input type="text" placeholder="Keywords"class="form-control" name="keywrd">
		<input type="text" placeholder="Location" class="form-control" name="location">
		<input type="submit" value="Search" class="btn" name="submit"></span>
	</form>
</div>
<br>
{% for x in range(count) %}

<br>
<div class="d-flex justify-content-center">
    <div class="gradient-border">
        <div id="left">
            <p><strong> {{jobs[0][x]}}</strong></p>
            <p>{{jobs[1][x]}}</p>
        </div>
        <div id="right">
            
            <button style="float: right;" type="button" class="btn btn-dark" onclick="location.href='{{jobs[2][x]}}'">Apply</button>
            <br>
            <a href="{{ url_for('gen_cv', job=jobs[0][x], employer=jobs[1][x]) }}" style="float: right;" >Generate CL</a>
        </div>
    </div>
</div>


{% endfor %}


{% endblock %}
